.custom-jumbotron {
    background-color: #d1cfcf; /* Color de fondo personalizado */
}
.hidden {
    display: none;
}

body{
    background-color: #ccc;
}


/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
}
table {
    margin: 20px auto;
}
input {
    width: 50px;
} */