{% extends "layout.html" %}

{% block content %}
<div class="row mt-4">
    <div class="col-6">
        <h3>Conceptos Básicos de la Teoría de Juegos</h3>
        <ul>
            <li><b>Jugadores:</b> Cada participante en el juego es considerado un "jugador". Los jugadores pueden ser individuos o grupos, como partidos políticos o empresas.</li>
            <li><b>Estrategias:</b> Cada jugador cuenta con un conjunto de movimientos o estrategias disponibles, que pueden ser limitadas o virtualmente infinitas.</li>
            <li><b>Matriz de Pagos:</b> Las posibles consecuencias de las estrategias elegidas se resumen en lo que llamamos una matriz de pagos, que muestra los resultados asociados a cada combinación de estrategias entre los jugadores.</li>
        </ul>
    
        <h3>Tipos de Juegos</h3>
        <p>Uno de los ejemplos más claros es el juego de suma cero para dos jugadores, donde lo que gana un jugador es exactamente lo que pierde el otro. Antes de que el juego comience, cada jugador conoce sus propias estrategias, las de su adversario y cómo estas pueden traducirse en ganancias o pérdidas según la matriz de pagos.</p>
        
        
        
    </div>
            <div class="col-6">
                <b>¿Cómo se Juega?</b>
                <p>En un escenario típico, ambos jugadores seleccionan una estrategia simultáneamente, sin saber cuál estrategia ha escogido el otro.<br>
                El Jugador A tiene las estrategias \(A_1, A_2, \ldots, A_n\).<br>
                El Jugador B tiene las estrategias \(B_1, B_2, \ldots, B_m\).<br>
                Donde \(n > m\), \(n < m\) ó \(n = m\).<br>
                La matriz de pagos correspondiente será:</p>
    
                <table class="table table-responsive table-bordered text-center border-black">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">\(B_1\)</th>
                            <th scope="col">\(B_2\)</th>
                            <th scope="col">\(\ldots\)</th>
                            <th scope="col">\(B_j\)</th>
                            <th scope="col">\(\ldots\)</th>
                            <th scope="col">\(B_m\)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>\(A_1\)</td>
                            <td>\(a_{11}\)</td>
                            <td>\(a_{12}\)</td>
                            <td>\(\ldots\)</td>
                            <td>\(a_{1j}\)</td>
                            <td>\(\ldots\)</td>
                            <td>\(a_{1m}\)</td>
                        </tr>
                        <tr>
                            <td>\(A_2\)</td>
                            <td>\(a_{21}\)</td>
                            <td>\(a_{22}\)</td>
                            <td>\(\ldots\)</td>
                            <td>\(a_{2j}\)</td>
                            <td>\(\ldots\)</td>
                            <td>\(a_{2m}\)</td>
                        </tr>
                        <tr>
                            <td>\(\ldots\)</td>
                            <td>\(\ldots\)</td>
                            <td>\(\ldots\)</td>
                            <td>\(\ldots\)</td>
                            <td>\(\ldots\)</td>
                            <td>\(\ldots\)</td>
                            <td>\(\ldots\)</td>
                        </tr>
                        <tr>
                            <td>\(A_i\)</td>
                            <td>\(a_{i1}\)</td>
                            <td>\(a_{i2}\)</td>
                            <td>\(\ldots\)</td>
                            <td>\(a_{ij}\)</td>
                            <td>\(\ldots\)</td>
                            <td>\(a_{im}\)</td>
                        </tr>
                        <tr>
                            <td>\(\ldots\)</td>
                            <td>\(\ldots\)</td>
                            <td>\(\ldots\)</td>
                            <td>\(\ldots\)</td>
                            <td>\(\ldots\)</td>
                            <td>\(\ldots\)</td>
                            <td>\(\ldots\)</td>
                        </tr>
                        <tr>
                            <td>\(A_n\)</td>
                            <td>\(a_{n1}\)</td>
                            <td>\(a_{n2}\)</td>
                            <td>\(\ldots\)</td>
                            <td>\(a_{nj}\)</td>
                            <td>\(\ldots\)</td>
                            <td>\(a_{nm}\)</td>
                        </tr>
                    </tbody>
                </table>
                <p>Donde \(a_{ij}\) es la cantidad ganada por el jugador A, cuando A elige la alternativa \(A_i\) y el jugador B elige la alternativa \(B_j\).</p>
            </div>

    
    
</div>
{% endblock %}